<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flag2</title>
  <style> body{ font-family: Arial; background:#071421; color:#e6fffa; display:flex;align-items:center;justify-content:center;height:100vh;margin:0 } .box{ background:#022c2a;padding:2rem;border-radius:8px;text-align:center }</style>
</head>
<body>
  <div class="box">
    <h2>Authenticated</h2>
    <div style="background:#062a17;color:#bfffbf;padding:12px;border-radius:6px;font-weight:bold;">{{flag2}}</div>
    <p><a href="/dashboard">Proceed to application</a></p>
  </div>
</body>
</html>
